
%h2 Movies directed by #{@movie.director}

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th Director
      %th More Info
  %tbody
    - if @sameDirector
      -@sameDirector.each do |movie|
        %tr
          %td= movie.title
          %td= movie.rating
          %td= movie.release_date
          %td= movie.director
          %td= link_to "More about #{movie.title}", movie_path(movie)
        
= link_to 'Back', movie_path(@movie)